@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?qm14py');
    src:url('fonts/icomoon.eot?#iefixqm14py') format('embedded-opentype'),
        url('fonts/icomoon.woff?qm14py') format('woff'),
        url('fonts/icomoon.ttf?qm14py') format('truetype'),
        url('fonts/icomoon.svg?qm14py#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Style cheet for Robb  page 0.1*/

Body{
    background-color: white;
}


/* Utilities */


.u-title{
    border-bottom: 2px dashed #00CCFF;
    color: #00CCFF;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: .5em;
    text-align: center;
}

.u-containerDefault{
    /*width: 800px;*/
    margin: 0 auto;
}

/*Main menu: Top Bar */
.MainMenu{
    background: #1E1E1E;
    text-align: center;
    height: 3.75em;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}


.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;
}

.MainMenu-link{
    color: #00DBFF;
    text-decoration: none;
    line-height: 3.75em;
    margin-right: 1.5em;
}


#me:before{
    font-family: 'icomoon';
    content: "\e600";
    color: #00DBFF;
}

#perfil:before{
    font-family: 'icomoon';
    content: "\e606";
    color: #00DBFF;
}
#trabajo:before{
    font-family: 'icomoon';
    content: "\e605";
    color: #00DBFF;
}
#contacto:before{
    font-family: 'icomoon';
    content: "\e603";
    color: #00DBFF;
}

/*Header*/
.Header{
    margin-top: 3.75em;
    background-image: url('../Images/Portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:1.2em 0;
}

.Header-imageContainer{
    margin: 0;
}

.Header-image{
    border: 5px solid white;
    border-radius: 50%;
    width: 200px;
}

.Header-name,
.Header-link{
    color: white;
   
}

.Header-link{
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
    background-color: black;
    border-radius: 1em;
    padding: .1em 1em;
    border: 3px solid white;
   
}

.Header-name{
    font-size: 1.5em;
    font-weight: 300;
    color: black;
    background-color: white;
    border-radius: .4em;   
    padding: .2em 1em;
    margin: 0 35%;

}


/*Projects*/

.Profile{
    background-color: #FFFFFF;
    text-align: center;
    padding: 2em 5em;
    height: 400px;
}

.Profile-link{
    background-color: #3781FB;
    border-radius: 1em;
    color:white;
    text-decoration: none;
    padding: 20px 10px 5px 10px;
    margin: 4em 1em;

   
    
}

#twitter:before{
    content: "\e609";
    font-family: 'icomoon';
    font-size: 1.5em;

} 

#github:before{
    font-family: 'icomoon';
    content: "\e60a";
    font-size: 1.5em;
} 

#linkedin:before{
    font-family: 'icomoon';
    content: "\e60b";
    font-size: 1.5em;
} 


.links-accounts{
margin-top: 2em;


}
.Profile-title{

    color: #0488AE;
    font-size: 1.2 em;

}

.Profile-description{
    text-align: left;
}

/*Work*/



/*Footer*/

.Footer {

 
    background-image: url('../Images/Footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
    text-align: center;
}
