---
---

@import "{{ site.theme }}";

.dotcontainer
{
    display:inline;
    margin-left: 40px;
}


.dot_full{
  height: 15px;
  width: 15px;
  background-color: #006699;
  border-radius: 50%;
  display: inline-block;
}

.dot_empyt{
    background-color:#fff;
    border:1px solid #006699;    
    height:14px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:14px;
    display: inline-block;
}

.socialiconcontainer{
  margin-left: 30%;

}

.socialicondiv{
  display: inline-block;
}
.socialicon{
  width: 25px;
  margin-right: 10px;
  display: inline-block;

}

.logo{
  border-radius: 50%;
}

.habilidadContainer{
  margin-bottom: 20px;

}

.habilidad{
    display:inline-block;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    max-width: 100px;
    padding: 8px;
    margin-top: 6px;
    text-align: center;
    border-radius: 10px;
}

.tipo1{
    color: white;
    border:1px solid #006699;
    background: #006699;
}

.tipo2{
    color: white;
    border:1px solid #fcc028;
    background: #fcc028;
}