---
---

@import "{{ site.theme }}";

/*----------------------------------------------------------------------------*/
/* Tema de color obscuro y ligero */

html, html[data-theme="light"] {
	--link-color: rgb(0, 112, 201);
  --main-background-color: hsl(0, 0%, 90%);
  --main-text-color: hsl(0, 0%, 20%);
}

html[data-theme="dark"] {
  --link-color: rgb( 100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: hsl(0, 0%, 85%);
}


@media (prefers-color-scheme: light) {
    /*Tema Obscuro */
    html, html[data-theme="dark"] {
      //General
      --link-color: rgb( 100, 210, 255);
    	--main-background-color: hsl(0, 0%, 20%);
    	--main-text-color: white;

      //Encabezados
      --main-ins-color: #006699;
      --main-dt-text_color: white;
    }
    /*Tema Claro */
    html[data-theme="light"] {
		  --link-color: rgb(0, 112, 201);
    	--main-background-color: hsl(0, 0%, 90%);
  	  --main-text-color: hsl(0, 0%, 20%);
  }
}



/*-----------------------------------------------------------------------------*/
//CSS General

body {
	//background-color: var(--main-background-color);
  background-color: #333333;
opacity: 1;
background-image:  linear-gradient(#303030 3.4000000000000004px, transparent 3.4000000000000004px), linear-gradient(to right, #303030 3.4000000000000004px, #333333 3.4000000000000004px);
background-size: 68px 68px;
	color: var(--main-text-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	padding: 1em;
}




.job_title{
    color: #ea9c00;
}

//Encabezados
ins{
 color: var(--main-ins-color);
}
//Listas
dt{
    color: var(--main-dt-text_color);
}

.dotcontainer
{
    display:inline;
    margin-left: 35%;
}

//Circulos para habilidades
.dot_full{
  height: 20px;
  width: 20px;
  background-color: #006699;
  border-radius: 50%;
  display: inline-block;
}


.dot_empyt{
    background-color:#fff;
    border:1px solid #006699;
    height:19px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:19px;
    display: inline-block;
}

.socialiconcontainer{
  text-align: center;
}

.socialicondiv{
  display: inline-block;
  text-align: center;
}
.socialicon{
  width: 25px;
  margin-right: 10px;
  display: inline-block;

}

.logo{
  border-radius: 50%;
  width: 250px;
}


//CSS para habilidades
.habilidadContainer{
  margin-bottom: 20px;

}

.habilidad{
    display:inline-block;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align:middle;
    max-width: 100px;
    padding: 8px;
    margin-left: 5px;
    margin-top: 6px;
    text-align: center;
    border-radius: 10px;
}

.tipo1{
    color: white;
    border:1px solid #006699;
    background: #006699;
}

.tipo2{
    color: white;
    border:1px solid #fcc028;
    background: #fcc028;
}


//CSS para portafolio
.portafolio_img{
  display:inline-block;
  margin-left: 15%;
  width: 300px;
  margin-right: 10px;
  display: inline-block;
}
